.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.team-member {
  text-align: center;
}

.team-member img {
  width: 180px !important;
  height: 180px !important;
  object-fit: contain;
  border-radius: 30px;
}

.team-title {
  font-size: 0.95rem;
  color: #555;
}
